ZYRE_NODE_NAME="{{ zyre_broker_node_name }}"

ZYRE_ENDPOINT="{{ zyre_broker_endpoint }}"
ZYRE_GOSSIP_BIND="{{ zyre_broker_gossip_bind }}"
ZYRE_ADVERTISE_ENDPOINT="{{ zyre_broker_advertise_endpoint }}"

ZYRE_GROUP="{{ zyre_group }}"

ZYRE_PUBLIC_KEY='{{ zyre_broker_publickey }}'
ZYRE_SECRET_KEY='{{ zyre_broker_secretkey }}'

ZYRE_EVASIVE_TIMEOUT=15000
ZYRE_EXPIRED_TIMEOUT=30000

ZYRE_TRACE=1