#   ****  Generated on 2018-02-07 13:48:28.803706 by pyzmq  ****
#   ZeroMQ CURVE **Secret** Certificate
#   DO NOT PROVIDE THIS FILE TO OTHER USERS nor change its permissions.

metadata
    name = broker
curve
    public-key = "{{ zyre_broker_publickey }}"
    secret-key = "{{ zyre_broker_secretkey }}"
