ZYRE_NODE_NAME="{{ zyre_node_name }}"
ZYRE_ENDPOINT="{{ zyre_endpoint }}"
ZYRE_GOSSIP_ENDPOINT="{{ zyre_gossip_connect }}"
ZYRE_ADVERTISE_ENDPOINT="{{ zyre_advertise_endpoint }}"

ZYRE_GROUP={{ zyre_group }}

ZYRE_GOSSIP_PUBLIC_KEY='{{ zyre_gossip_publickey }}'
ZYRE_PUBLIC_KEY='{{ zyre_publickey }}'
ZYRE_SECRET_KEY='{{ zyre_secretkey }}'

ZYRE_EVASIVE_TIMEOUT=15000
ZYRE_EXPIRED_TIMEOUT=30000

ZYRE_TRACE=1